<template name='post_answer'>
  <div class='post-answer'>
    <div class='row'>
      <div class='col-md-12' id='your-answer'><h3>Your Answer</h3></div>
    </div>
    <div class='row'>
      <div class ='col-md-12' id='answer-area'>
        <form class='form-horizontal answer-form'>
          <div class='form-group'>
            <div class='col-sm-8'>
              <textarea class="form-control question-area" rows="10"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-8">
              <button type="submit" class="btn btn-primary btn-lg">Post Your Answer</button>
            </div>
          </div>
          </form>
          </div>
          </div>
          </div>
</template>
