<template name='question_form'>
  <div class='ask-question-container'>
  <div class='col-md-6 col-md-offset-3'>

    <form class='form-horizontal ask-form'>

    <div class='form-group'>
      <label for="inputTile" class="col-sm-2 control-label">Title</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputTitle" placeholder="question title">
      </div>
    </div>

      <div class='form-group'>
        <div class='col-sm-10 col-sm-offset-2'>
          <textarea class="form-control question-area" rows="10"></textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary btn-lg">Post Your Question</button>
        </div>
      </div>

    </form>
  </div>
  </div>
</template>
